<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>KAKAO_APP_KEY</key>
    <string>4945b76e0211b93984eae17008ed0b57</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.ttf</string>
		<string>Pretendard-Bold.ttf</string>
		<string>Pretendard-ExtraBold.ttf</string>
		<string>Pretendard-ExtraLight.ttf</string>
		<string>Pretendard-Light.ttf</string>
		<string>Pretendard-Medium.ttf</string>
		<string>Pretendard-Regular.ttf</string>
		<string>Pretendard-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>1afa853ae18fc8eb3c3b688884dbfe1a</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
<string>앱이 위치를 사용하려면 권한이 필요합니다.</string>
<key>NSLocationAlwaysUsageDescription</key>
<string>앱이 위치를 항상 사용하려면 권한이 필요합니다.</string>

</dict>
</plist>
